
<section>
	<div class="container">
		<div class="row">
			<div class="col-8 offset-2">

				


				<%= form_for @article do |f| %>
					<%= f.label :category, "Choose a category" %> <br>
					<%= f.select :category, ['News', 'Case-studies', 'Science', 'Standard', 'Glossary', 'Factsheets', 'Manuals']%> <br>
					<br> <br>
					<%= f.label :hero_image, "Upload an Image" %> <br>
					<%= f.file_field :hero_image %>
					
					<p><%= image_tag(@article.hero_image, width: 200) if @article.hero_image.attached? %> </p>
					

					<br> <br>
					<%= f.label :title, "Add a title" %> <br>
					<%= f.text_field :title %>
					<br> <br>
					<%= f.label :subtitle, "Add a subtitle" %> <br>
					<%= f.text_field :subtitle %>
					<br> <br>
					<%= f.label :body, "Add body text" %> <br>
					<%= f.text_area :body, cols: "100", rows: "30", :class => "tinymce" %>
					<br> <br>
					<%= f.label :author, "Add author" %> <br>
					<%= f.text_field :author %>
					<br> <br>
					<%= f.label :position, "Add position" %> <br>
					<%= f.number_field :position %>
					<br> <br>
					<%= f.label :promoted, "Promoted to front page?" %> <br>
					<%= f.check_box :promoted %>
					<br> <br>
					<%= f.label :tag_ids, "Tags" %> <br>
					<%= f.collection_check_boxes :tag_ids, Tag.all, :id, :content %> <br>
					<br> <br>
					<%= f.submit%>
				<% end %>			

			</div>
		</div>
	</div>

</section>


<%= tinymce %>
