

<!-- GREEN DIVIDER SERCTION -->
<section class="bgr-green section-green below-nav-margin text-light"> 
	<div class="container">
		
		<h1>Articles</h1>
	</div>
	
</section>

<% if current_user.admin == true %>
<div class="d-flex justify-content-center">
	<div class="btn btn-light" style="max-width: 250px; margin: 20px 0; border-radius: 5px;"><%= link_to "Create a new article", new_article_path %></div>
</div>
<% end %>
<!-- ARTICLE CONTENT -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-12">

				<div class="article-hero d-flex align-items-center " style="background-image: url(<%= rails_blob_url(@press_latest.hero_image) if @press_latest.hero_image.attached? %>)">
					<div class=" article-hero-content">
						<h2><%= @press_latest.title%></h2>
						<h3><%= @press_latest.subtitle%></h3> 
						<%= link_to "Read", article_path(@press_latest) %>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section-article">
	<div class="container">

		<div class="row">
			
				
					<% @press_articles.each do |article| %>
						<div class="article-card col-sm-6">
							<div class="article-card-img" style="background-image: url(<%= rails_blob_url(article.hero_image) %>)"></div>
							<div class="article-card-content">
								<h2><%= article.title %></h2>
								<h3><%= article.subtitle %></h3>
								<p><%= truncate(article.body, length: 200, separator: ' ') %></p>
								<%= link_to "Read more", article_path(article) %>
							</div>
					
							<%= link_to "Edit Article", edit_article_path(article) %> | 
							<%= link_to "Delete Article", article_path(article), method: :delete %>
						</div>
					<%end%>
				
			
		</div>
	</div>
</section>


