


 <h2><%= @article.category %></h2>
 <h1><%= @article.title %></h1>
 <h3><%= @article.subtitle %></h3>
 <p><%= @article.body %></p>
 <br>
 <p>Author:<%= @article.author %></p>
 <p><%= @article.promoted %></p>
 <p><%= @article.position %></p>




 <%= link_to "Back to Index", articles_path %>



