<section id="know-article-hero-section">
		<!-- <div class="know-hero know-hero-image know-hero-imag"> -->
		<div class="know-article-hero know-hero-overlay" style="background-image: url(<%= rails_blob_url(@article.hero_image) if @article.hero_image.attached? %>)">

		</div>
		<div class="know-article-hero know-hero-gradient">
		</div>
		<div class="know-article-hero know-hero-overlay" style="background-image: url(<%= image_path 'overlay-pattern.png'%>)">
		</div>
		<div class="know-article-hero know-hero-content d-flex flex-column align-items-center justify-content-center">
		</div>
</section>



<section>
	<div class="container">

		<div class="row">
			<div class="col-12">
				<% if current_user.admin == true %>
								<%= link_to "Edit Article", edit_article_path(@article) %> | 
								<%= link_to "Delete Article", article_path(@article), method: :delete %>
							<% end %>
			</div>
			<div class="col-12">
			
		
			
			 <h3><%= @article.category %></h3>
			 <h1><%= @article.title %></h1>
			 <h3><%= @article.subtitle %></h3>
			 <br>
			 <p>By: <%= @article.author %>, <%= @article.created_at %> </p>
			<p>Tags:
				<% @article.tags.each do |tag| %>
					<%= tag.content %>, 
				<% end %>
			</p>
			 <br>
			 <p><%= @article.body %></p>
			 
			 <br>
			
			</div>
		</div>
	</div>
</section>







