	<section id="hero-section">
		<div class="hero hero-image" style="background-image: url(<%= image_path 'j121-cover3.jpg'%>)">
		</div>
		<div class="hero hero-gradient">
		</div>
<!-- 		<div class="hero hero-overlay">
		</div> -->
		<div class="hero hero-overlay" style="background-image: url(<%= image_path 'overlay-pattern.png'%>)">
		</div>

		<div class="hero hero-content d-flex flex-column align-items-center justify-content-center" style="color:white">
			<h2>vibrationmaster - industry leading solutions in</h2>
			<h1>Fastener testing and validation</h1>
			<!-- <h3>Subheader comes here, yes it does.</h3> -->
			<button type="button" class="btn btn-light">Get in touch</button>
		</div>
	</section>

	<!-- GREEN DIVIDER SECTION -->
	<section class="bgr-green section-green"> 
		<div class="container">
			xxxxxx
		</div>
	</section>

	<!-- PRODUCT CARDS -->
	<section class="product-sectionxxx bgr-medium-lightxxx ">
		<!-- INTRO -->
		<div class="section-intro">
			<h2>What can we do for you</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas pariatur mollitia error deleniti harum illo provident atque laboriosam expedita a ipsam voluptates.</p>
		</div>
		<!-- CARDS -->
		<div class="product-container">
			<div class="product-item">
				<h3>Portable series</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<div style="background-image: url(<%= image_path 'overlay-pattern-50.png'%>);">
					<%= image_tag 'product_images01.png' %>
				</div>
			</div>
			<div class="product-item">
				<h3>Research and development series</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<div style="background-image: url(<%= image_path 'overlay-pattern-50.png'%>);">
					<%= image_tag 'product_images02.png' %>
				</div>
			</div>
			<div class="product-item">
				<h3>Contract testing</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vero mollitia alias delectus tenetur! Ullam vitae.</p>
				<div style="background-image: url(<%= image_path 'overlay-pattern-50.png'%>);">
					<%= image_tag 'product_images03.png' %>
				</div>
			</div>
		</div>
	</section>



		<!-- NEWS CARDS -->
	<section class="news-section">
		<!-- INTRO -->
		<div class="section-intro news-intro">
			<h2>We've got the know-how</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas pariatur mollitia error deleniti harum illo provident atque laboriosam expedita a ipsam voluptates.</p>
		</div>
		<!-- CARDS -->
		<div class="news-container">

			<% @articles_promoted.each do |article| %>

			<div class="news-card">
				<h4><%= article.category%></h4> 
				<h3><%= article.subtitle%></h3> 
				<div class="news-image" style="background-image: url(<%= rails_blob_url(article.hero_image) if article.hero_image.attached? %>);">
					<div class="news-image-overlay"></div>
				</div>
				<p style="min-height: 100px; padding-top: 20px;"><%= truncate(strip_tags(article.rich_text_body.to_s), length: 160, separator: ' ') %></p>
				<%= link_to "Read more", article_path(article) %>
			</div>

			<% end %>

		</div>
	</section>








