	<div id="prod-hero-section">
		<div class="prod-hero prod-hero-image" style="background-image: url(<%= image_path 'j121.jpg'%>)">
		</div>
		<div class="prod-hero prod-hero-gradient">
		</div>
		<div class="prod-hero prod-hero-overlay" style="background-image: url(<%= image_path 'overlay-pattern.png'%>)">
		</div>
	</div>

	<!-- GREEN DIVIDER SERCTION -->
	<section class="bgr-green section-green"> 
		<div class="container">
			
			xxxxxx
		</div>
		
	</section>



	<!-- PRODUCT INTRO -->
	<section class="bgr-extra-dark">
		<div class="container">

			<!-- INTRO -->
			<div class="content-head color-light col-sm-8 offset-md-2">
				<h3>Vibrationmaster J121 & J160</h3>
				<h2>Portable series</h2>
				<p>TEST Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas pariatur mollitia error deleniti harum illo provident atque laboriosam expedita a ipsam voluptates.</p>
			</div>

			<!-- CONTENT -->
			<div class="row content-body color-light">

				<div class="col-sm-8">
					<h3>Replicate real-world service conditions</h3>
					<div class="header-underline"></div>
					<p>Replicate real-world service conditions during tests by:</p>
					<ul class="content-list">
						<li>Test the friction between clamped parts</li>
						<li>Run a test using Transverse/Shear Force as your measure instead of Vibration Displacement</li>
						<li>Real-time adjustment of Transverse Shear Force, Vibration Displacement and Frequency during a test</li>
					</ul>
				</div>
				<div class="col-sm-4 ">
			
					<%= image_tag 'j121-portable_03.png'%>
				</div>
			</div>	


			<div class="row content-body color-light">
				<div class="col-sm-4">
					<!-- <img src="img/reallife-screen02.png" alt=""> -->
					<%= image_tag 'reallife-screen02.png' %>
				</div>
				<div class="col-sm-8">
					<h3>Employ a wide range of bolted joint integrity tests</h3>
					<div class="header-underline"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas pariatur mollitia error deleniti harum illo provident atque laboriosam expedita a ipsam voluptates.</p>
					<div class="row">
						<div class="col-sm-6">
							<ul class="content-list">
								<li>Inner-joint friction test</li>
								<li>Creep test</li>
								<li>Embedding preload test</li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul class="content-list">
								<li>Torque tesnsion test</li>
								<li>Torque angle & torque-to-yield test</li>
								<li>Vibration/Junker test</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	
		</div> <!-- end of Container -->
	</section>

	<!-- TECHNICAL SPECS -->
	<section class="bgr-dark">
		<div class="container">
			<!-- SPEC INTRO -->
			<div class="row">
				
				<div class="content-head color-light col-md-8 offset-md-2">
					<h2>Key technical specifications</h2>
					<p>TEST Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas pariatur mollitia error deleniti harum illo provident atque laboriosam expedita a ipsam voluptates.</p>
				</div>
				<!-- SPEC TABLE -->
				<div class="col-md-8 col-sm-12">
						<div class="row content-body color-light">

							
							<div class="col-md-4 offset-md-4 col-6">
								<h4>J121</h4>
							</div>
							<div class="col-md-4 col-6">
								<h4>J160</h4>
							</div>


							

							<div class="col-md-4 col-12 col-tablecell bgr-medium-light text-right">
								<h4>Displacement</h4>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p>From &plusmn;0.05 to &plusmn;1.25 mm </p>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p> - </p>
							</div>

							<div class="col-md-4 col-12 col-tablecell bgr-medium-light text-right">
								<h4>Frequency</h4>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p>From 0 to 12.5 Hz.
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p> - </p>
							</div>

							<div class="col-md-4 col-12 col-tablecell bgr-medium-light text-right">
								<h4>Fastener sizes</h4>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p>From M1 to M12 ISO Metric <br> From #0 to 1/2" UTS</p>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p> - </p>
							</div>

							<div class="col-md-4 col-12 col-tablecell bgr-medium-light text-right">
								<h4>Test standards</h4>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p>ISO 16130, DIN 25201-4, DIN 65151</p>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p>ISO 16130, DIN 25201-4, DIN 65151</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<!-- <img src="img/j121_wireframe.png" alt="" style="width: 100%"> -->
						<%= image_tag 'J121_wireframe.png', style: 'width: 100%' %>
					</div>
					<div class="col-md-12 content-button">
							<button type="button" class="btn btn-light">Factsheet</button>
							<button type="button" class="btn btn-light">Operating manual</button>
						</div>
			</div>
		</div>
	</section>

	





	<!-- CASE STUDIES -->
	<section class="bgr-extra-dark">
		<!-- INTRO -->
		<div class="section-intro prod-intro">
			<h2>Case studies</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas pariatur mollitia error deleniti harum illo provident atque laboriosam expedita a ipsam voluptates.</p>
		</div>
		

		<div class="bd-example">
			<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
					<!-- <li data-target="#carouselExampleCaptions" data-slide-to="2"></li> -->
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
					<div src="..." class="d-block w-100" alt="...">
					<div class="row">
						<div class="col-md-6">
							<div class="slide-content">
								<h3 class="slide-item">This is a header header header header header header</h3>
								<p class="slide-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse in dicta, at tempore vel quae similique dignissimos animi minus! Iusto inventore sapiente rem doloremque laborum quae ea nihil beatae placeat.</p>
								<a class="slide-item" href="#">Read more</a>
							</div>
						</div>
						<div class="col-md-6 slide-img-style" style="background-image: url(img/news_images01.jpg)"></div>
					</div>
					</div>
					</div>

					<div class="carousel-item">
					<div src="..." class="d-block w-100" alt="...">
					<div class="row">
						<div class="col-md-6">
							<div class="slide-content">
								<h3 class="slide-item">Second heading this is a header header header header</h3>
								<p class="slide-item">Esse in dicta, at tempore vel quae similique dignissimos animi minus! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<a class="slide-item" href="#">Read more</a>
							</div>
						</div>
						<div class="col-md-6 slide-img-style" style="background-image: url(img/news_images03.jpg)"></div>
					</div>
					</div>
					</div>

				

				</div>

				<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>




	</section>

