	<div id="prod-hero-section">
		<div class="prod-hero prod-hero-image" style="background-image: url(<%= image_path 'j121.jpg'%>)">
		</div>
		<div class="prod-hero prod-hero-gradient">
		</div>
		<div class="prod-hero prod-hero-overlay" style="background-image: url(<%= image_path 'overlay-pattern.png'%>)">
		</div>
	</div>

	<!-- GREEN DIVIDER SERCTION -->
	<section class="bgr-green section-green"> 
		<div class="container text-light">
			
			<h2>Portable series</h2>
		</div>
		
	</section>



	<!-- PRODUCT INTRO -->
	<section class="bgr-extra-dark">
		<div class="container">

			<!-- INTRO -->
			<div class="content-head color-light col-sm-8 offset-md-2">
				<h3>Vibrationmaster J122 & J160</h3>
				
				<p>Junker test benches that combine ease of use and transportability with precision testing and analysis of the self-loosening behaviour threaded and non-threaded fastener applications.</p>
			</div>

			<!-- CONTENT -->
			<div class="row content-body color-light">

				<div class="col-sm-8">
					<h3>what are the main characteristics?</h3>
					<div class="header-underline"></div>
					<p>With the poratble series test banches you can:</p>
					<ul class="content-list">
						<li>Test, analyse and show the self-loosening behaviour of threaded and non-threaded fasteners under vibration</li>
						<li>Test the torque/tension characteristics of fastener connections during the tightening and untightening process. </li>
						<li>Go small or large. Asses fasteners from the smallest electronic equipment to long cylinder block studs, double ended studs, self-tapping screws, and even non-threaded fasteners such as lock-bolts and lock collars.  </li>
						<li>Benchmark fastener self-loosening behaviour according to ISO 16130, DIN 25201-4, DIN65151and customised OEM "tested-by-me" specifications.</li>
					</ul>
				</div>
				<div class="col-sm-4 ">
			
					<%= image_tag 'J121-light-bg.png'%>
				</div>
			</div>	


			<div class="row content-body color-light">
				<div class="col-sm-4">
					<%= image_tag 'j121-portable_03.png'%>
				</div>
				<div class="col-sm-8">
					<h3>Portability and ease of use</h3>
					<div class="header-underline"></div>
					<p>Do tests in the lab or take it on the road</p>
					<div class="row">
						<div class="col-sm-12">
							<ul class="content-list">
								<li>Portability. At only 17 kg (38 lbs), the text benches are easily transportable to any location and only requires a single-phase power supply. </li>
								<li>Precision test bench ideal for the engineering team, but ease of use, wireless testing software, and transportability also make it an excellent choice for trade shows, exhibitions and on-site demonstrations with customers.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	
		</div> <!-- end of Container -->
	</section>

	<!-- TECHNICAL SPECS -->
	<section class="bgr-dark">
		<div class="container">
			<!-- SPEC INTRO -->
			<div class="row">
				
				<div class="content-head color-light col-md-8 offset-md-2">
					<h2>Key technical specifications</h2>
					<p>TEST Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas pariatur mollitia error deleniti harum illo provident atque laboriosam expedita a ipsam voluptates.</p>
				</div>
				<!-- SPEC TABLE -->
				<div class="col-md-8 col-sm-12">
						<div class="row content-body color-light">

							
							<div class="col-md-4 offset-md-4 col-6">
								<h4>J122</h4>
							</div>
							<div class="col-md-4 col-6">
								<h4>J160</h4>
							</div>


							

							<div class="col-md-4 col-12 col-tablecell bgr-medium-light text-right">
								<h4>Displacement</h4>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p>From &plusmn;0.05 to &plusmn;1.25 mm </p>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p> - </p>
							</div>

							<div class="col-md-4 col-12 col-tablecell bgr-medium-light text-right">
								<h4>Frequency</h4>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p>From 0 to 12.5 Hz.
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p> - </p>
							</div>

							<div class="col-md-4 col-12 col-tablecell bgr-medium-light text-right">
								<h4>Fastener sizes</h4>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p>From M1 to M12 ISO Metric <br> From #0 to 1/2" UTS</p>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p> - </p>
							</div>

							<div class="col-md-4 col-12 col-tablecell bgr-medium-light text-right">
								<h4>Test standards</h4>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p>ISO 16130, DIN 25201-4, DIN 65151</p>
							</div>
							<div class="col-md-4 col-6 col-tablecell">
								<p>ISO 16130, DIN 25201-4, DIN 65151</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<!-- <img src="img/j121_wireframe.png" alt="" style="width: 100%"> -->
						<%= image_tag 'J121_wireframe.png', style: 'width: 100%' %>
					</div>
					<div class="col-md-12 content-button">
							<button type="button" class="btn btn-light">Factsheet</button>
							<button type="button" class="btn btn-light">Operating manual</button>
						</div>
			</div>
		</div>
	</section>

	




	<!-- CASE STUDIES -->
	<!-- NEWS CARDS -->
	<section class="news-section">
		<!-- INTRO -->
		<div class="section-intro news-intro">
			<h2>Case studies</h2>
			<p>Read how our current clients have benefited from the use of our Portable series Test benches</p>
		</div>
		<!-- CARDS -->
		<div class="news-container">

			<% @articles_series_portable.each do |article| %>

			<div class="news-card">
				<h4><%= article.title%></h4> 
				<h3><%= article.subtitle%></h3> 
				<div class="news-image" style="background-image: url(<%= rails_blob_url(article.hero_image) if article.hero_image.attached? %>);">
					<div class="news-image-overlay"></div>
				</div>
				<p style="min-height: 100px; padding-top: 20px;"><%= truncate(strip_tags(article.rich_text_body.to_s), length: 160, separator: ' ') %></p>
				<%= link_to "Read more", article_path(article) %>
			</div>

			<% end %>

		</div>
	</section>

