<h1>Products Home - test with all articles index</h1>

<% @articles.each do |article| %>
 <h2><%= article.title %></h2>
 <h3><%= article.subtitle %></h3>
 <p><%= article.body %></p>
 <%= link_to "Read", article_path(article) %>
<br>
 <%= link_to "Delete Article", article_path(article), method: :delete %>
<%end%>

<br>
<p>Tags:</p>

<% @tags.each do |tag| %>
	<p><%= tag.content %></p>
<%end%>
